@{
    ViewBag.Title = "Index";
}

<p></p>

<h2>@Html.Raw(ViewBag.Message)</h2>

<p></p>
@{ using (Html.BeginForm())
    {

        <div>
            @Html.Label("What's Your Name: ")
            @Html.TextBox("username")
        </div>
        <div>
            @Html.Label("How old are you: ")
            @Html.TextBox("year")
        </div>        
        <div>
            @Html.Label("About you:") 
            @Html.TextArea("about")
        </div>

        <p></p>

        <div>
            @Html.Label("Check Box 1:")
            @Html.CheckBox("check1")
        </div>
        <div>
            @Html.Label("Check Box 2: ")
            @Html.CheckBox("check2")
        </div>

        <p></p>

        <div>
            @Html.Label("Radio Button 1: ")
            @Html.RadioButton("radio", "button", true)
        </div>
        <div>
            @Html.Label("Radio Button 2: ")
            @Html.RadioButton("radio", "button", false)
        </div>

        <p></p>


        <div>
            <input type= "Submit" value = "submit" />
        </div>


    } }